<footer class = "rodape">
    <section class = "sessoes">
        <h2>Festify</h2>
        <p>Blablabla sobre o site, com link para as redes da organização</p>
        <a class = "links" href = "#">Insta</a>
        <a class = "links" href = "#">Twiter</a>
        <a class = "links" href = "#">tiktok</a>
    </section>

    <section class = "sessoes">
        <h2>Links rápídos</h2>
        <a class = "links" href = "#">Eventos</a>
        <a class = "links" href = "#">Cidades</a>
        <a class = "links" href = "#">Artistas</a>
        <a class = "links" href = "#">Blog</a>
    </section>

    <section class = "sessoes">
        <h2>Categorias</h2>
        <a class = "links" href = "#">Festas</a>
        <a class = "links" href = "#">Esportes</a>
        <a class = "links" href = "#">Culinária</a>
        <a class = "links" href = "#">Shows</a>
        <a class = "links" href = "#">Clubes</a>
        
    </section>

    <section class = "sessoes">

        <h2>Contato</h2>
        <p>emailgmail.com</p>
    </section>
</footer>
