.rodape{
    border-top: solid 1px;
    display: flex;
    color: white;
    justify-content: space-between;
    margin: 1% 3% 0 3%;
}

.sessoes{
    display: flex;
    flex-direction: column;
}

.links{
    text-decoration: none;
    color: white;
}