
header{
    display: flex;
    align-items: center;
    background-color: #697DFF;
    justify-content:space-between;
}

.titulo{
    text-decoration: none;
    color: black;
}
.imagens{
    display: flex;
    gap:1rem;
}

.titulo, .imagens{
    padding: 0 2%;
}