<app-cabecalho></app-cabecalho>

<main>
    <section class = "banner">
        <img src = "../../../assets/principal.jpeg">
        <div class = "emcima">
            <p class = "linha">Linha rosa</p>
            <h1 class = "Evento-principal"> Nome do evento</h1>
            <p>Descrição</p>
            <p>Data horário local, cidade</p>
            <div class = "eventos">
                <button class = "buttao-rosa">Ingressos</button>
                <button class = "buttao-trans">Informações</button>
            </div>
        </div>

    </section>

    <section class = "Eventos">

        <h1>Próximos Eventos</h1>
        <a href = "#">Todos</a>
        <a href = "#">Festas</a>
        <a href = "#">Esportes</a>
        <a href = "#">Culinária</a>
        <a href = "#">Shows</a>
        <a href = "#">Clubes</a>

        <button class = "buttao-rosa">Carregar mais</button>

    </section>

    <section class = "Faça seu evento">

        <h1>Faça seu evento</h1>
        <p>Texto espositivo</p>
        <button>Iniciar</button>

    </section>

    <app-footer></app-footer>
</main>
