<app-cabecalho></app-cabecalho>

<main>
    <section class = "banner">
        <div class = "emcima">
            <p class = "linha">Linha rosa</p>
            <h1 class = "nome_evento"> Nome do evento</h1>
            <p class = "descricao">Descrição</p>
            <p class = "data_afins">Data horário local, cidade</p>
            <div class = "eventos">
                <button class = "buttao-rosa">Ingressos</button>
                <button class = "buttao-trans">Informações</button>
            </div>
        </div>

    </section>

    <section class = "proximos_eventos">

        <div class = "categorias">
            <h1>Próximos Eventos</h1>
            <div class = "categorias_links">
                <button class = "categorias_buttoes">Todos</button>
                <button class = "categorias_buttoes">Festas</button>
                <button class = "categorias_buttoes">Esportes</button>
                <button class = "categorias_buttoes">Culinária</button>
                <button class = "categorias_buttoes">Shows</button>
                <button class = "categorias_buttoes">Clubes</button>
            </div>
        </div>

       <div class="galeria">
        <div class="evento-card">
            <img src="../../../assets/principal.jpeg" alt="">
                <div class="conteudo">
                <button class="eventos_principais_categoria">Categoria</button>
                <h2 class="eventos_principais_nome">Sunset Seioqla</h2>
                <p>Local, horário, dia</p>
                <h2 class="preco">R$20</h2>
            </div>
        </div>
        <div class="evento-card">
            <img src="../../../assets/principal.jpeg" alt="">
                <div class="conteudo">
                <button class="eventos_principais_categoria">Categoria</button>
                <h2 class="eventos_principais_nome">Sunset Seioqla</h2>
                <p>Local, horário, dia</p>
                <h2 class="preco">R$20</h2>
            </div>
        </div>
        <div class="evento-card">
            <img src="../../../assets/principal.jpeg" alt="">
                <div class="conteudo">
                <button class="eventos_principais_categoria">Categoria</button>
                <h2 class="eventos_principais_nome">Sunset Seioqla</h2>
                <p>Local, horário, dia</p>
                <h2 class="preco">R$20</h2>
            </div>
        </div>
        <div class="evento-card">
            <img src="../../../assets/principal.jpeg" alt="">
                <div class="conteudo">
                <button class="eventos_principais_categoria">Categoria</button>
                <h2 class="eventos_principais_nome">Sunset Seioqla</h2>
                <p>Local, horário, dia</p>
                <h2 class="preco">R$20</h2>
            </div>
        </div>
        <!-- Repita o card mais 3x -->
        <div class="evento-card">...</div>
        <div class="evento-card">...</div>
        <div class="evento-card">...</div>
        </div>
        <div class = "carregar_eventos">
            <button class = "buttao-rosa ">Carregar mais</button>
        </div>

    </section>

    <section class = "Faça seu evento">

        <h1>Faça seu evento</h1>
        <p>Texto espositivo</p>
        <button>Iniciar</button>

    </section>

    <app-footer></app-footer>
</main>
