<app-cabecalho></app-cabecalho>
<section class="container">
  <form [formGroup]="cadastroForm" (ngSubmit)="cadastrarUsuario()" class="formulario">
    <h2 class="titulo_principa">Cadastro de Usuário</h2>

    <label for="nome">Nome completo:</label>
    <input
      class="input__textos"
      type="text"
      id="nome"
      placeholder="Digite seu nome"
      formControlName="nome"
    >

    <label for="email">E-mail:</label>
    <input
      class="input__textos"
      type="email"
      id="email"
      placeholder="Digite seu e-mail"
      formControlName="email"
    >

    <label for="senha">Senha:</label>
    <input
      class="input__textos"
      type="password"
      id="senha"
      placeholder="Digite uma senha"
      formControlName="senha"
    >

    <label for="endereco">Endereço:</label>
    <input
      class="input__textos"
      type="text"
      id="endereco"
      placeholder="Digite seu endereço"
      formControlName="endereco"
    >

    <section class="bottoes">
      <button
        type="button"
        class="botao-cancelar"
        (click)="cancelarCadastro()"
      >
        Cancelar
      </button>

      <button
        type="submit"
        class="botao-salvar"
        [disabled]="cadastroForm.invalid"
      >
        Cadastrar
      </button>
    </section>

  </form>
</section>

