@import url(../../../styles.css);

header{
    display: flex;
    align-items: center;
    background-color: #030712;
    justify-content:space-between;
    font-family: var(--font-principal);
}

.material-icons{
    color: white;
    text-decoration: none;
}

.titulo{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

h1{
    margin: 5% 0;
}
.imagens{
    display: flex;
    gap:1rem;
}

.titulo, .imagens{
    padding: 0.2% 2%;
}

.links{
    font-size: 1.3rem;
    display: flex;
    gap: 1rem;
}

.link{
    color: white;
    text-decoration: none;
}

.persona{
    background-color: #030712;
    border: none;
    cursor: pointer;
 }

.titulo_sair{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal {
  display: none;
  position: fixed;
  margin: 2% 0.3% 0 0;
  border-radius: 1rem;
  right: 0;
  width: 20%;
  height: auto;
  padding: 1.3rem;
  background: white; /* sem fundo escuro */
  z-index: 9999;
}

    input {
  width: 99%;
  padding: 8px;
  margin: 8px 0;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  transition: border-color 0.3s;
}

input:focus {
  border-color: #007bff;
}

.bottoes {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-top: 1rem;
  width: 100%;
}

.botao-salvar,
.botao-cancelar {
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.botao-salvar {
  background-color: #007bff;
  color: white;
}

.botao-salvar:disabled {
  background-color: #7aaefc;
  cursor: not-allowed;
}

.botao-cancelar {
  background-color: #f1f1f1;
  color: #333;
}

.botao-cancelar:hover {
  background-color: #e0e0e0;
}

    .close {
      float: right;
      cursor: pointer;
      font-weight: bold;
    }