@import url(../../../styles.css);

header{
    display: flex;
    align-items: center;
    background-color: #030712;
    justify-content:space-between;
    font-family: var(--font-principal);
}

.material-icons{
    color: white;
    text-decoration: none;
}

.titulo{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

h1{
    margin: 5% 0;
}
.imagens{
    display: flex;
    gap:1rem;
}

.titulo, .imagens{
    padding: 0.2% 2%;
}

.search-box {
    background-color: white;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    width: 250px;
}

.search-box input {
    border: none;
    outline: none;
    flex: 1;
}

.search-box img {
    width: 20px;
    cursor: pointer;
}

.links{
    display: flex;
    gap: 1rem;
}

.link{
    color: white;
    text-decoration: none;
}