<header>
    <a href="#" class="titulo"><h1 >Festify</h1></a>
    <div class="links">
        <a class="link" routerLink="/home">Home</a>
        <a class="link" routerLink = "/criacao-eventos">Novo evento</a>
        <a class="link" href = "#">Cidades</a>
        <a class="link" href = "#">Artists</a>
    </div>
    <div class="imagens">
        <a href ="#" class="material-icons">search</a>

        <button (click)="abrirModal()" class="material-icons persona">person</button>
        
        <div id="modalLogin" class="modal">
            <form [formGroup]="authForm" (ngSubmit)="onSubmit()" class="formulario">
                <div class = "titulo_sair">
                    <h3>Login</h3>
                    <span class="close" (click)="fecharModal()">&times;</span>
                </div>
                <label for="email">E-mail:</label>
                <input
                id="email"
                type="email"
                formControlName="email"
                class="input__textos"
                placeholder="Digite seu e-mail"
                />

                <label for="senha">Senha:</label>
                <input
                id="senha"
                type="password"
                formControlName="senha"
                class="input__textos"
                placeholder="Digite sua senha"
                />

                <section class="bottoes">
                <button type="submit" class="botao-salvar" [disabled]="authForm.invalid">
                    {{ isLogin ? 'Entrar' : 'Cadastrar' }}
                </button>
                <button routerLink="/cadastro" type="button" class="botao-cancelar" (click)="alternarModo()">
                    criar conta
                </button>
                </section>
  </form>

            <button (click)="logout()" class="">Deslogar</button>
        </div>
        <a href ="#" class="material-icons">settings</a>
    </div>
</header>

