@import url(../../../styles.css);

header{
    display: flex;
    align-items: center;
    background-color: #030712;
    justify-content:space-between;
    font-family: var(--font-principal);
}

.material-icons{
    color: white;
    text-decoration: none;
}

.titulo{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

h1{
    margin: 5% 0;
}
.imagens{
    display: flex;
    gap:1rem;
}

.titulo, .imagens{
    padding: 0.2% 2%;
}

.links{
    font-size: 1.3rem;
    display: flex;
    gap: 1rem;
}

.link{
    color: white;
    text-decoration: none;
}

.persona{
    background-color: #030712;
    border: none;
 }

.modal {
  display: none;
  position: fixed;
  margin-top: 2%;
  right: 0;
  width: auto;
  height: auto;
  padding: 20px;
  background: transparent; /* sem fundo escuro */
  z-index: 9999;
}

    .modal-content {
      background: white;
      padding: 20px;
      border-radius: 10px;
      width: 300px;
    }

    .close {
      float: right;
      cursor: pointer;
      font-weight: bold;
    }

    .material-icons {
      font-size: 24px;
      cursor: pointer;
    }

    input {
      width: 80%;
      padding: 8px;
      margin: 8px 0;
    }